.content {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 12px 0;
  background-color: #FBFBFB;
}
.item:last-child {
  margin-right: 0;
}

.item img {
  width: 50px;
  height: 50px;
}

.temperature {
  font-size: 15px;
  font-weight: 600;
  color: #201C1C;
}

.time {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #494343;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #494343;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 7px;
}

.info__temp {
  font-size: 16px;
  font-weight: 600;
}

.max__temp {
  color: tomato;
}

.min__temp {
  color: rgb(32, 222, 248);
}

.slash {
  font-size: 17px;
  color: #000000;
}

.arrow__right i {
  font-size: 19px;
  color: #000000;
}

.container {
  margin-bottom: 5px;
}