a {
  text-decoration: none;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #494343;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 7px;
  transition: all .2s linear;
}

.info:hover {
  background-color: #dadfed;
}

.info__temp {
  position: absolute;
  right: 50px;
  font-size: 16px;
  font-weight: 600;
}

.max__temp {
  color: tomato;
}

.min__temp {
  color: rgb(32, 222, 248);
}

.slash {
  font-size: 17px;
  color: #000000;
}

.info i {
  font-size: 19px;
  color: #000000;
}

.container {
  margin-bottom: 5px;
}

.info {
  padding: 2px 5px;
  border: 1px solid #0B1223;
  border-radius: 8px;

  background-color: #F6F6FF;
}