.form {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-top: 15px;
  margin-bottom: 24px;
}

.input {
  display: flex;
  align-items: center;
}

.input input {
  border: 0;
  outline: 0;

  width: 260px;
  
  font-size: 15px;
  font-weight: 600;
  font-family: 'Red Hat Display', sans-serif;
  color: #201C1C;

  border-bottom: 1px solid #000;
  background: transparent;
}

.btn__send {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

.btn__send i, .form i {
  font-size: 20px;
  font-weight: 700;
  color: #2E3A59;
  cursor: pointer;
  margin: 0;
  padding: 0;
}