.head {
  background: linear-gradient(90deg,#4C4E53, #0B1223);
}

.container {
  padding: 0 16px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 15px;
  margin-bottom: 28px;
}

.leftLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.leftLink i {
  font-size: 20px;
  color: #fff;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-size: 14px;
}

.temperature {
  font-size: 20px;
  margin-bottom: 4px;
}

.description {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.update {
  font-size: 14px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}

.update i {
  font-size: 14px;
  margin-left: 3px;
}

.reload {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.title__black {
  font-weight: 600;
  font-size: 20px;
  color: #413d3d;
  margin-top: 24px;
  margin-bottom: 16px;
}

.blocks {
  margin-bottom: 16px;
}

.items {
  color: #000;
}

.item__big, .item {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  background-color: #FAFAFA;
}

.count__big {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  width: 25%;
  color: #2AA837;
}

.item__description {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.item__big__title, .item__title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.item__big__text, .item__text {
  font-size: 13px;
  font-weight: 400;
  color: #494343;
}

.fontText {
  font-weight: 500;
}

.double__item {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 47.5%;
  margin-top: 15px;
}

.img {
  margin-right: 12px;
}

.item__content {
  display: flex;
  flex-direction: column;
}

.font__item__title {
  font-weight: 700;
}