.staticInput {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  margin-bottom: 24px;
}

.input__text {
  font-size: 15px;
  font-weight: 600;
  font-family: 'Red Hat Display', sans-serif;
  color: #201C1C;
}

.input {
  display: flex;
  align-items: center;
}

.input i {
  font-size: 20px;
  font-weight: 700;
  color: #2E3A59;
  margin-right: 5px;
}

.container {
  padding: 0 16px 10px;
}